# Bunny.net Video CDN Configuration
BUNNY_LIBRARY_ID=
BUNNY_API_KEY=
BUNNY_PULL_ZONE_ID=

# Vimeo Configuration (for projects page)
USER_ID=
ALBUM_ID=
VIMEO_ACCESS_TOKEN=

# GitHub Configuration
GITHUB_ACCESS_TOKEN=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 