<div class="row justify-content-center banner">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <!-- Reorganized content with flexbox -->
    <div class="d-flex align-items-center">
      <!-- Profile Image -->
      <div>
        <%= image_tag 'greyshirt_cut.png', alt: "white smiling man with short hair and a grey shirt", class: 'avatar' %>
      </div>

      <!-- Right side content -->
      <div class="d-flex flex-column align-items-center">
        <%= image_tag 'granthall-written.png', alt: "profile photo", class: 'written-shaped' %>

        <!-- Social Media Links -->
        <div class="social-links">
          <h3><a href="https://www.instagram.com/_granthall_/" class="text-light"><i class="fa-brands fa-square-instagram icon-medium"></i></a></h3>
          <h3><a href="https://github.com/grantcko" class="text-light"><i class="fa-brands fa-github icon-medium"></i></a></h3>
          <h3><a href="https://x.com/_granthall_" class="text-light"><i class="fa-brands fa-x-twitter icon-medium"></i></a></h3>
        </div>

        <!-- Description -->
        <div class="typed-container">
          <p class="scroll-reveal">I make videos and write code</p>
        </div>
      </div>
    </div>
  </div>
</div>
