<!-- Hidden form for Netlify form detection -->
<form name="contact" netlify netlify-honeypot="bot-field" hidden>
  <input type="text" name="name" />
  <input type="email" name="email" />
  <textarea name="message"></textarea>
</form>
<div class="contact-container">
  <div class="contact-section">
    <h3 class="text-center">EMAIL</h3>
    <form name="contact" method="POST" netlify>
      <input type="hidden" name="form-name" value="contact">
      <div class="mb-3">
        <input type="text" class="form-control" id="name" name="name" required placeholder="Name">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
      </div>
      <div class="mb-3">
        <textarea class="form-control" id="message" name="message" rows="3" required placeholder="Message"></textarea>
      </div>
      <div class="d-grid mt-1">
        <button type="submit" class="btn btn-outline-light">Send</button>
      </div>
    </form>
  </div>
</div>
