<!-- Videography Reel Section -->
<a href="/reel">
  <div class="reel-container">
    <div class="video-embed" style="padding:56.25% 0 0 0;position:relative;">
      <!-- Background thumbnail -->
      <img
        src="https://vz-dc51bbd9-206.b-cdn.net/cef04918-811d-4661-b218-373064b1dd9b/thumbnail_08f5fe8f.jpg"
        alt="Video thumbnail"
        class="video-background"
      >
        <iframe
        src="https://iframe.mediadelivery.net/embed/<%= ENV['BUNNY_LIBRARY_ID'] %>/<%= data.main.reel_id %>?autoplay=true&customCSS=true&controls=false&muted=true&loop=true"
        loading="lazy"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen="true"
        class="bunny-video-player"
      ></iframe>
      </div>
    </div>
  </a>
