<div class="row my-5" id="middle">
  <div class="col-12">
    <div class="container-small">
      <p class="scroll-reveal">I'm a full-stack dev living in Tokyo, Japan.  <i class="fa-solid fa-arrow-down"></i> Check out some of my work... <i class="fa-solid fa-arrow-down"></i></p>
    </div>
  </div>
</div>
