<nav id="main-menu">
  <ul class="nav-bar">
    <li class="nav-button-home"><%= link_to 'videos', 'videos' %></li>
    <li class="nav-button-services"><%= link_to 'photos', 'photos' %></li>
    <li class="nav-button-products"><%= link_to 'websites', 'websites' %></li>
  </ul>
</nav>
