<nav id="main-menu">
  <ul class="nav-bar">
    <li class="nav-button-home">
      <%= link_to "<i class='fa-solid fa-house-chimney'></i>", "/index.html" %>
    </li>
    <li class=""><%= link_to 'videos', 'videos' %></li>
    <li class=""><%= link_to 'photos', 'photos' %></li>
    <li class=""><%= link_to 'websites', 'websites' %></li>
  </ul>
</nav>
