<% videos = fetch_vimeo_videos %>
<% video = videos['data'].first %>
<div class="reel-section">
  <div class="reel-container">
    <div class="video-wrapper">
      <!-- Placeholder -->
      <div class="placeholder">
        <img src="<%= video['pictures']['sizes'].last['link'] %>"
             alt="Videography Reel Preview"
             class="placeholder-image"
             style='position:absolute;top:0;left:0;width:100%;height:100%;'>
      </div>

      <!-- Video -->
      <div class="video-embed" style='padding:56.25% 0 0 0;position:relative;'>
        <iframe src='https://player.vimeo.com/video/<%= video['uri'].split('/')[-1] %>?h=c2b4f1950f&autoplay=1&loop=1&background=1&muted=1&controls=0'
                loading="lazy"
                frameborder='0'
                allow="autoplay; fullscreen"
                allowfullscreen
                onload="this.parentElement.parentElement.classList.add('loaded')"
                style='position:absolute;top:0;left:0;width:100%;height:100%;'>
        </iframe>
      </div>
    </div>
  </div>
</div>
