#main-menu {
  background-color: black;
}

.nav-bar {
  display: flex;
  position: fixed;
  right: 20px;
  list-style-type: none;
  margin-top: 20px;
}

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #fff;
}
