#main-menu {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
  padding: 24px 0;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.nav-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #fff;
}

.nav-button-home img {
  width: 80px;
  padding-bottom: 4px;
}

#nav-button-home {
  padding-left: 0 !important; // Remove left padding for the link
}
