#main-menu {
  background-color: black;
}

.nav-bar {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  position: fixed;
  list-style-type: none;
  right: 36px;
  margin-top: 36px;
  width: 100%; /* Ensure it spans the full width */
  background-color: black;
}
#main-menu .nav-bar li a {
  text-decoration: none;
  padding-left: 25px;
  text-transform: uppercase;
  color: #fff;
}
