.reel-section {
  width: 100%;
  background: black;
  padding: 0;
}

.reel-container {
  // max-width: 800px;
  width: 100%;
  margin: 16px auto 0 0;
  pointer-events: none;
}

.video-wrapper {
  width: 100%;
  background: black;
  position: relative;
}

.video-embed {
  width: 100%;
  height: auto;
  opacity: 1;
  position: relative;
}

.video-background {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  object-fit: cover;
  z-index: 0;
}

.bunny-video-player {
  position: relative;
  z-index: 1;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
