// Import page-specific CSS files here.
@import "home";
@import "photos";
@import "videos";
@import "words";

.page-wrapper {
  min-height: 100vh;
}

.page-content {
  padding-top: 120px;
  padding-bottom: 20px;

  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

.contact-container {
  margin: 8px;
}

.contact-section {
  max-width: 600px;
  margin: 0 auto;
  // border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  & p {
    padding: 0;
    margin: 0;
  }
}
