#gallery {
  .gallery-item {
    display: block;
    overflow: hidden;

    img {
      display: block;
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      will-change: transform;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

.photogrid-padding {
  padding-top: 120px !important;

  @media (max-width: 768px) {
    padding-top: 80px !important;
  }
}
