.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vidgrid-padding {
  padding-top: 120px;

  @media (max-width: 768px) {
    padding-top: 60px;
  }
}

.video-item {
  display: none;
}

.video-item.active {
  display: block;
}

.album-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; // Allow buttons to wrap on smaller screens
}

.album-button {
  // TODO: Add styles for album buttons
  // small, no padding, no border
  border-radius: 0;
  padding: 0.25rem .8rem;
  margin: 0.2rem; // Adjust margin for better spacing on smaller screens
  font-size: 0.8rem;
  // black border
  border: 1px solid white;
  color: white;
  padding: 10px auto;
  // black background
  background-color: black;
  // on hover, white background
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  // when clicked, white background
  &.active {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  @media (max-width: 768px) {
    margin: 0.1rem; // Further adjust margin for smaller screens
    font-size: 0.7rem; // Reduce font size for smaller screens
  }
}
