<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- Videography Reel Section -->
  <%= partial 'partials/videography_reel' %>
  <!-- Projects Section -->
</div>
