<div class="photos-align p-5">
  <div class="">
    <!--
    <% data.photos.each do |photo| %>
      <img src="images/photos/<%= photo.name %>" alt="<%= photo.alt %>" style: width=280px>
    <% end %>
    -->
    <iframe src="https://drive.google.com/file/d/12dsWm1N02PtaSL-YWfzd2fMu_K4_fTuV/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12W_MKn4fI4hP2pNvGBpdBoEkVF-MhL6H/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12VmDtqrV8Y2v_7heMm1n_Y4osBIhPjdT/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12X0KyNhI366ZRbYpdVraq8iTrGOGpLW9/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12URXOGhMHc2FNgfUO_joDTItuwD6fgFK/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12LwSZ7hJSYFynLXgHsD0GMcwOKzYiAR6/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12aaBgdyeTYFfigruMDjNYyqXCLaxAhj0/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12cu7_643blSvYCj41unfwesJ_5Lw8F-6/preview" width="500" height="500" allow="autoplay"></iframe>
    <iframe src="https://drive.google.com/file/d/12R0SxmaMK-riHzbuDDntZwp3P_EmskBa/preview" width="500" height="500" allow="autoplay"></iframe>
  </div>
</div>
