<div class="p-5">
    <div style="display: grid; place-items: center; height: 85vh;">
      <a data-flickr-embed="true" href="https://www.flickr.com/photos/144960990@N06/albums/72177720312324961" title="BEST PHOTOS"><img src="https://live.staticflickr.com/65535/53169571322_f48f1538ac_z.jpg" width="800" height="600" alt="BEST PHOTOS"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <a href="https://www.flickr.com/photos/144960990@N06">more photos on flickr</a>
    </div>
</div>
