<%= partial 'partials/topbar' %>
<div class="photos-align">
  <div class="'">
    <% data.photos.each do |photo| %>
      <img src="images/photos/<%= photo.name %>" alt="<%= photo.alt %>" style: width=280px>
    <% end %>
  </div>
</div>
