<%= partial 'partials/topbar' %>
<div class="p-5">
  <div class="pt-4">
    <iframe width="320" height="180" src="https://www.youtube.com/embed/nacsH07PSaQ?si=LgFV_t-3CUhoihvt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube.com/embed/pqtxUrDZwQc?si=cVpcympASEclDYYJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/FNjvZdYeBMo?si=C0M0nqDCihGDa4Vd&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/rE181D5EtJE?si=iuSmBJAAO8b95VDo&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/iMmwmboMKXg?si=woxSZWA5bcjCS52k&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/r7mPtx2taBg?si=FrgVjHcrqPNN8imq&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/oWrpbbr3FHg?si=2W9ThRT_KS34hgb3&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/6f-1X6doEuU?si=GLtO4EGr4RLW3cGh&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/IeWNr2rAaNw?si=9gMNkNq6epr_Mx3U&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
