<div class="pt-5">
  <div class="cards p-5">
    <% data.projects.each do |project| %>
      <div class="card-product">
        <%= image_tag project.image, alt: "project image" %>
        <div class="card-product-infos w-100">
          <div class="d-flex justify-content-between align-items-center">
            <h2 class=""><%= project.name %></h2>
            <% link_to project.url, class: 'external-link', target: '_blank' do %>
              <i class="fas fa-external-link-alt"></i>
            <% end %>
          </div>
          <p class=""><%= project.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
