<div class="container p-5">
  <p style="display: grid; place-items: center; height: 85vh;">I'm Grant. I make motion pictures in the form of videos</p>
  <p style="display: grid; place-items: center; height: 85vh;">I will probably write more things here later on...</p>
</div>
